/* padrão por  */
body{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--surface-ground);
  color:gainsboro
}
.placeholder {
  color: #6c757d;
  /* padding: 0 0.6rem; */
  /* letter-spacing: 0.03rem; */
  font-size: .875rem;
}
